---
import Layout from "../layouts/Layout.astro";
import Header from "@components/Header.astro";
import Hero from "@components/Hero.astro";
import Experience from "@components/Experience.astro";
import AboutMe from "@components/AboutMe.astro";
import TechStack from "@components/TechStack.astro";
import CallToAction from "@components/CallToAction.astro";
import Footer from "@components/Footer.astro";

import {
  aboutMeCopy,
  experienceCopy,
  socialLinks,
  techStackCopy,
  navbarOptions,
  heroCopy,
  callToActionCopy,
} from "./_information/en";
---

<Layout>
  <main>
    <Header currentLanguage="EN" {navbarOptions} />
    <Hero {heroCopy} />
    <Experience {experienceCopy} />
    <AboutMe {aboutMeCopy} />
    <TechStack {techStackCopy} />
    <CallToAction {callToActionCopy} />
    <Footer {socialLinks} />
  </main>
</Layout>

<style>
  main {
    overflow-x: clip;
  }
</style>
