---
import Briefcase from "./svgs/Briefcase.astro";
import SectionTitle from "./ui/SectionTitle.astro";
import type { JobInfo } from "./types";

type Props = {
  jobs: JobInfo[];
};

const { jobs } = Astro.props;
---

<section id="my-experience">
  <div class="content wrapper">
    <SectionTitle title="My Experience" subtitle="Where I have been employed" />

    <div class="list">
      {
        jobs.map((job, index) => (
          <>
            <div class="job">
              <div>
                <div class="job-title">
                  <Briefcase />
                  <h3>
                    Software Developer, <span class="gradient">{job.company}</span>
                  </h3>
                </div>
                <p class="job-start-end">
                  {job.date} / {job.location}
                </p>
              </div>
              <div class="job-description">
                <p>{job.description}</p>
                {job.workTeammates && (
                  <>
                    <span class="italic">~ collaborated</span>
                    <div class="profile-photos">
                      {job.workTeammates.map((teammate) => (
                        <a href={teammate.linkedInUrl} target="_blank">
                          <img src={teammate.imgURL} alt={teammate.name} />
                        </a>
                      ))}
                    </div>
                  </>
                )}
              </div>
            </div>
            {index !== jobs.length - 1 && <div class="line-break" />}
          </>
        ))
      }
    </div>
  </div>

  <div class="circle-gradient-left"></div>
</section>

<style>
  section {
    padding: 4rem 0;
    position: relative;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .job {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block: 24px;
  }

  .job-title {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 1rem;
  }

  .job-title h3 {
    font-size: 1.25rem;
  }

  .job-start-end {
    color: var(--light-80);
    font-style: italic;
  }

  .job-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }

  .job-description p {
    color: var(--light-80);
  }

  .profile-photos {
    display: flex;
    gap: 0.5rem;
  }

  .profile-photos img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
  }

  .italic {
    color: var(--light-80);
    font-style: italic;
  }

  /* .job > * {
    border: 1px solid red;
  } */

  @media (max-width: 768px) {
    .job {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  }
</style>
