---
import EmailLogo from "./svgs/social/EmailLogo.astro";
import type { HeroCopy } from "./types";

export type Props = {
  heroCopy: HeroCopy;
};

const { heroCopy } = Astro.props;
const { socialLinks, email } = heroCopy;
---

<section id="home">
  <div class="content wrapper">
    <h1>
      {
        () => {
          const parts = heroCopy.title.split(/(\*[^*]+\*)/g); // Split by words enclosed in *

          return parts.map((part) => {
            if (part.startsWith("*") && part.endsWith("*")) {
              return <span class="gradient">{part.slice(1, -1)}</span>;
            }
            return part;
          });
        }
      }
    </h1>
    <p class="subtitle">{heroCopy.subtitle}</p>
    <p class="text">
      {
        () => {
          const parts = heroCopy.description.split(/(\*[^*]+\*)/g); // Split by words enclosed in *

          return parts.map((part) => {
            if (part.startsWith("*") && part.endsWith("*")) {
              return <span class="highlight">{part.slice(1, -1)}</span>;
            }
            return part;
          });
        }
      }
    </p>
    <div class="social-links">
      {
        socialLinks.map((link) => {
          return (
            <a href={link.href} target={link.target ? link.target : "_blank"} rel="noopener noreferrer">
              <link.icon color="var(--light-90)" />
              <span>{link.label}</span>
            </a>
          );
        })
      }

      <a href={`mailto:${email}?subject=Hello Fernando!, I would like to work with you`}>
        <EmailLogo />
        <span>{heroCopy.emailText}</span>
      </a>
    </div>
  </div>

  <div class="circle-gradient-right"></div>
</section>

<style>
  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  section {
    padding: 9rem 0;
    position: relative;
  }

  .subtitle {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--light-90);
  }

  .highlight {
    font-weight: 800;
    font-size: inherit;
  }

  .text {
    font-size: 1rem;
    ight: 140%;
    color: var(--light-80);
  }

  .social-links {
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
    row-gap: 0.5rem;
  }

  .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 4px 16px;
    border: 1px solid var(--light-30);
    border-radius: 100px;
    color: var(--light-90);
    background-color: #00000000;
    transition: background-color 0.2s ease;
  }

  .social-links a:hover {
    background-color: var(--light-10);
  }

  .social-links a :global(svg) {
    height: 15px;
    width: 15px;
  }

  .social-links span {
    font-size: 1rem;
    font-weight: 400;
  }

  @media (max-width: 768px) {
    section {
      padding: 6rem 0;
    }
  }
</style>
